@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: space-around;    
    font-family: 'Roboto';
}

li
{
    list-style: none;
}

.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.producao
{
    
    display: flex;
    justify-content: space-between;
}

ul
{
    padding: 0;
}

section
{
    display: flex;
    flex-direction: column;
}

.producaoRelativa
{
    margin: 0 auto;
}

.red
{
    color: red;
}

.green
{
    color: green;
}