@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
    box-sizing: border-box;
    
}

header
{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #E1523D;
}

header h1, h2
{
    margin: 0;
}


body
{
    display: flex;
    justify-content: space-around;    
    font-family: 'Roboto';
    background-color: #594E45;
    font-size: 1.2rem;

}

.blocoInput
{
    display: flex;
    flex-direction: column;
    
}

.blocoInput p
{
    margin-bottom: 2px;
    
}

input
{
    color: #594E45;
    font-weight: 600;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid black;
    
}

button
{
    background-color:#E1523D;
	border-radius:28px;
    border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:1rem 2rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;

    margin: 10px;
}


p
{
    font-weight: bold;
    color: #E1523D;
}


li
{
    list-style: none;
    color: #594E45;
    font-weight: 500;
    padding: 5px;
}

section
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container
{
    min-width: 30%;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 1);
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: white;
    padding: 2rem;
}

.producao
{
    
    display: flex;
    justify-content: space-between;
}

ul
{
    padding: 0;
    margin: 0;
    text-align: center;
    
}

.producaoRelativa
{
    margin: 0 auto;
    border: 1px solid red;
}


.soma
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 10px;
}

.red
{
    color: red;
}

.green
{
    color: green;
}